.history {
  margin: 100px 0;
  .history-table {
    display: flex;
    justify-content: space-around;
    .colum {
      .title {
        p {
          font-weight: bold;
        }
      }
    }
  }
}
